<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dotch - Review Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="margin: 15px;">
<div class="jumbotron text-center" style="background-color: cadetblue"> <h1 style="text-align: center; color: goldenrod"> Dotch.in</h1><p>Confirmation email</p></div><br>
<h4>Dear {{ name }}, </h4> <br>

   <p> You have successfully placed an order.
    Your order ID is {{ oid }}. Please refer friends using referral number {{ code }}</p>

  <h4>Help up serve you better by dropping a review. We value your feedback and would love to hear from you!</h4>

  <a href="review-form.html">Click Here..</a>



<br><br><br>

Please contact us for change in details provided or any other queries.<br><br>

<address class="jumbotron text-center" style="background-color: cadetblue">
Write us at: <a style="text-decoration: none" href="mailto:contact@dotch.in">Dotch Support</a><br>
Connect on Instagram at: <a style="text-decoration: none" href="https://www.instagram.com/dotch.in/?igshid=nt9mfyqxzle8">Dotch.in</a><br>
Post us at: <br>
#297, 2nd Main, Belthur <br>
Kadugodi (p), Bengaluru-560067<br>

</address>



</body>
</html>