{% extends 'potato/base.html' %}
{% load static %}

{% block title %}

      Dotch.in- {% if category %} {{ category.name }} available- {% endif %} Creative Gifting using Potato as messenger.
      3D creative printing available.


{% endblock %}

{% block head %}


{% endblock %}

{% block header %}

      <h1>A Potato message a day keeps your loved one happy all day!</h1>


{% endblock %}

{% block main %}

        <div id="nav-sidebar">
        <h3>Categories</h3>
        <ul>

          {% for c in categories %}

             <li {% if category.slug == c.slug %}class="selected"{% endif %}>
            <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
             </li>
          {% endfor %}
</ul>

        </div>

     <div class="container" style="background-color: antiquewhite">
        <h1>{% if category %}{{ category.name }}{% else %}Products {% endif %}</h1>
         {% for product in products %}
          <div class="item">
           <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{%else %}{% static "no-image-available.jpg" %}{% endif %}" width="200" height="200">
           </a> <br>
               <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
             <br>
            &#8377; {{ product.price }}
          </div>
         {% endfor %}
     </div>
{% endblock %}

{% block footer %}

{% endblock %}



